.form-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
  border: 0.2rem var(--mustard) solid;
  border-radius: 1rem;
  margin: 0 5rem;
}

.form-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
  border: 0.2rem var(--mustard) solid;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
}
